{{!-- TEMPLATE FOR ADDING VIABILITY TRACKING DATA PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Add Viability Tracking Data for a Germination Trial</p>
    <p>form for adding data</p>
    <p>display germination trial metadata</p>

</div>