{{!-- TEMPLATE FOR ADDING VIABILITY TRACKING DATA PAGE --}}
<br>
<div id="trialMetadataAddViabilityTracking" class="container-fluid">
    <p class="lead">Add Viability Tracking Data for a Germination Trial</p>
    <br>
    <form id="addViabilityTracking">
    <div class="row">
        <div class="col">
            {{!-- numberGerminants --}}
            <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Number of Germinants</span>
                <input id="numberGerminants" type="text" class="form-control">
            </div>
        </div>
        <div class="col">
            {{!-- date --}}
            <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Date</span>
                <input id="date" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{!-- notes --}}
            <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Notes</span>
                <input id="notes" type="text" class="form-control">
            </div>
        </div>
    </div>
    {{!-- SUBMIT BUTTON --}}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
