{{!-- TEMPLATE FOR CRETAE NEW PROJECT PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Projects</p>
    <p>Create a new project</p>
    {{!-- project --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Project Title</span>
        </div>
        <input id="project" type="text" class="form-control">
    </div>
    {{!-- principalInvestigator --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Principal Investigator</span>
        </div>
        <input id="project" type="text" class="form-control">
    </div>
    {{!-- dbgContact --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">DBG Contact</span>
        </div>
        <input id="project" type="text" class="form-control">
    </div>
    {{!-- PIemail --}}
        <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Principal Investigator Email</span>
        </div>
        <input id="project" type="text" class="form-control">
    </div>
    {{!-- SUBMIT BUTTON --}}
    <button type="button" class="btn btn-primary">Submit</button>
    <br>
    <br>
    {{!-- EXISTING PROJECTS LIST --}}
    <p>Existing Projects</p>
    
    <ul class="list-group list-group-flush" id=""projects">
        <li class="list-group-item">A first item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>
</div>