{{!-- TEMPLATE FOR CRETAE NEW PROJECT PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Create New Project</p>
    <p>form for adding new projects</p>
    <p>list of existing projects</p>
</div>