{{!-- TEMPLATE FOR CRETAE NEW PROJECT PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Projects</p>
    <p>form for adding new projects</p>
    <p>list of existing projects</p>
    {{!-- project --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Project Title</span>
        </div>
        <input id="project" type="text" class="form-control">
    </div>
    {{!-- principalInvestigator --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Principal Investigator</span>
        </div>
        <input id="project" type="text" class="form-control">
    </div>
    {{!-- dbgContact --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">DBG Contact</span>
        </div>
        <input id="project" type="text" class="form-control">
    </div>
    {{!-- PIemail --}}
        <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Principal Investigator Email</span>
        </div>
        <input id="project" type="text" class="form-control">
    </div>
    {{!-- SUBMIT BUTTON --}}
    <button type="button" class="btn btn-primary">Submit</button>
</div>