{{!-- TEMPLATE FOR NEW GERMINATION TRIALS PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Create New Germination Trial</p>
    <p>search box to select seed. add to trial button (grabs materialSampleTableID)</p>
    <p>form for addGerminationTest metadata</p>

</div>