{{!-- TEMPLATE FOR NEW GERMINATION TRIALS PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Create New Germination Trial</p>
    <p>Search for seed to add to trial</p>
    <form id="seedForTrialSearchForm">
        <div class="row">
            <div class="col">
                {{!-- scientificName --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Scientific Name</span>
                    <input id="scientificNameSeedNewTrial" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- catalogNumber --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Catalog Number</span>
                    <input id="catalogNumberSeedNewTrial" type="text" class="form-control">
                </div>
            </div>
        </div>
        {{!-- eventDate --}}
        <label class="form-control-sm" for="eventDate">Collection Date</label>
        <div class="row">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">After</span>
                    <input id="eventEarlyDateSeedNewTrial" type="text" class="form-control" placeholder="YYYY-MM-DD">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Before</span>
                    <input id="eventLateDateSeedNewTrial" type="text" class="form-control" placeholder="YYYY-MM-DD">
                </div>
            </div>
        </div>
        {{!-- SUBMIT BUTTON --}}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <br><br>
    {{!-- SEED RESULT LIST --}}
    <div id = "seedSearchGermTrialResults">
        <p>Seed Samples</p>
        <table class="table" id="seedResultTable">
            <thead>
                <tr>
                    <th scope="col">scientificName</th>
                    <th scope="col">materialSample_catalogNumber</th>
                    <th scope="col">eventDate</th>
                    <th scope="col">numberCollected</th>
                    <th scope="col">numberAvailable</th>
                    <th scope="col">dateStored</th>
                    <th scope="col">stateProvince</th>
                    <th scope="col">county</th>
                    <th scope="col">locality</th>
                    <th scope="col">locationID</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="seedResultTableData">
            </tbody>
        </table>
    </div>
    <br><br>
    {{!-- New Germination Trial Data Form --}}
    <form id="newGermTrialDataForm">
        <p id="seedSelectedTitle"></p>
        <div class="row">
            <div class="col">
                {{!-- testConductedBy --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Test Conducted By</span>
                    <input id="testConductedBy" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- sampleFrozen --}}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sampleFrozen" id="sampleFrozenYes">
                    <label class="form-check-label" for="sampleFrozen">
                        Sample Frozen
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sampleNotFrozen" id="sampleFrozenNo">
                    <label class="form-check-label" for="sampleNotFrozen">
                        Sample Not Frozen
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{!-- medium --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Medium</span>
                    <input id="medium" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- scarified --}}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="scarified" id="scarifiedYes">
                    <label class="form-check-label" for="scarified">
                        Scarified
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="notScarified" id="scarifiedNo">
                    <label class="form-check-label" for="notScarified">
                        Not Scarified
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{!-- stratificationTemperature --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Stratification Temperature</span>
                    <input id="stratificationTemperature" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- stratificationStartDate --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Stratification Start Date</span>
                    <input id="stratificationStartDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{!-- incubationStartDate --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Incubation Start Date</span>
                    <input id="incubationStartDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
                </div>
            </div>
            <div class="col">
                {{!-- numberSeedsTested --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Number Seeds Tested</span>
                    <input id="numberSeedsTested" type="text" class="form-control">
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col">
                {{!-- incubationTemperatureDay --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Incubation Temperature Day</span>
                    <input id="incubationTemperatureDay" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- incubationTemperatureNight --}}
                    <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Incubation Temperature Night</span>
                    <input id="incubationTemperatureNight" type="text" class="form-control">
                </div>
            </div>
        </div>
        {{!-- SUBMIT BUTTON --}}
        <button type="submit" class="btn btn-primary">Submit</button>
        <br><br>   
    </form>
</div>