{{!-- TEMPLATE FOR NEW GERMINATION TRIALS PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Finish Germination Trial</p>
    <p>form for finishGerminationTest metadata</p>
    <div class="row">
        <div class="col">
            {{!-- endDate --}}
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">End Date</span>
                <input id="endDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
            </div>
        </div>
        <div class="col">
            {{!-- numberDead --}}
            <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Number Dead</span>
                <input id="numberDead" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{!-- numberViable --}}
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Number Viable</span>
                <input id="numberViable" type="text" class="form-control">
            </div>
        </div>
        <div class="col">
            {{!-- totalGerminants --}}
            <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Total Germinants</span>
                <input id="totalGerminants" type="text" class="form-control">
            </div>
        </div>
    </div>

    {{!-- SUBMIT BUTTON --}}
    <button type="button" class="btn btn-primary">Submit</button>
</div>