{{!-- TEMPLATE FOR GERMINATION TRIALS PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Germination Trials</p>
    <p>list all trials, sorted by taxon and then date</p>
    {{!-- NEW TRIAL BUTTON --}}
    <button type="button" class="btn btn-primary">Create New Germination Trial</button>
    <br><br>
    {{!-- TRIAL SEARCH --}}
    <p>Search for Germination Trials</p>
    {{!-- project --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Project</span>
        </div>
        <input id="project" type="text" class="form-control">
    </div>
    {{!-- scientificName --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Scientific Name</span>
        </div>
        <input id="scientificName" type="text" class="form-control">
    </div>
    {{!-- catalogNumber --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Catalog Number</span>
        </div>
        <input id="catalogNumber" type="text" class="form-control">
    </div>
    {{!-- stratificationDate --}}
    <label class="form-control-sm" for="startificationDate">Stratification Date</label>
    <div class="form-row">
        <div class="col">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">After</span>
                </div>
                <input id="stratificationEarlyDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
            </div>
        </div>
        <div class="col">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Before</span>
                </div>
                <input id="stratificationLateDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
            </div>
        </div>
    </div>
    {{!-- endDate --}}
    <label class="form-control-sm" for="startificationDate">Trial End Date</label>
    <div class="form-row">
        <div class="col">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">After</span>
                </div>
                <input id="endEarlyDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
            </div>
        </div>
        <div class="col">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Before</span>
                </div>
                <input id="endLateDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
            </div>
        </div>
    </div>
    {{!-- eventDate --}}
    <label class="form-control-sm" for="eventDate">Seed Collection Date</label>
    <div class="form-row">
        <div class="col">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">After</span>
                </div>
                <input id="eventEarlyDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
            </div>
        </div>
        <div class="col">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Before</span>
                </div>
                <input id="eventLateDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
            </div>
        </div>
    </div>
    {{!-- recordedBy --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Collector</span>
        </div>
        <input id="recordedBy" type="text" class="form-control">
    </div>
    {{!-- recordNumber --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Collector Number</span>
        </div>
        <input id="recordNumber" type="text" class="form-control">
    </div>
    {{!-- stateProvince --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">State</span>
        </div>
        <input id="stateProvince" type="text" class="form-control">
    </div>
    {{!-- county --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">County</span>
        </div>
        <input id="county" type="text" class="form-control">
    </div>
    {{!-- locality --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Locality</span>
        </div>
        <input id="locality" type="text" class="form-control" placeholder="Enter text that locality string contains">
    </div>
    {{!-- locationRemarks --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Landowner or EO</span>
        </div>
        <input id="locationRemarks" type="text" class="form-control">
    </div>
    {{!-- locationID --}}
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Location ID</span>
        </div>
        <input id="locationID" type="text" class="form-control">
    </div>
    {{!-- SUBMIT BUTTON --}}
    <button type="button" class="btn btn-primary">Submit</button>
    {{!-- Download BUtton --}}
    <button id="downloadRecords" type="button" class="btn btn-secondary">Download CSV of Trials</button>
    <br><br>
    {{!-- TRIAL LIST --}}
    <p>Germination Trials</p>
    <ul class="list-group"> 
                    <li class="list-group-item d-flex"><p class="p-0 m-0 flex-grow-1">First item</p> 
                    <button class="btn btn-sm btn-outline-primary">Add Viability Tracking</button> 
                    <button class="btn btn-sm btn-outline-secondary ml-1">Finish Trial</button>
                    </li>
    </ul>
</div>
