{{!-- TEMPLATE FOR GERMINATION TRIALS PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Germination Trials</p>
    <p>list all trials, sorted by taxon and then date, each with a finish trial button and add tracking button</p>
    <p>query box to narrow trials displayed on page</p>
    <p>export data button for the trials displayed on the page (checkboxes?)</p>
    <p>new trial button</p>
</div>