{{!-- TEMPLATE FOR SEARCHING MATERIAL SAMPLE DATA PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Search for Material Sample Data</p>
    <form id="searchSamplesForm">
        <div class="row">
            <div class="col">
                {{!-- project --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Project</span>
                    <input id="searchProject" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- scientificName --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Scientific Name</span>
                    <input id="searchScientificName" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{!-- materialSampleType --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Material Sample Type</span>
                    <input id="searchMaterialSampleType" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- materialSample_catalogNumber --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Sample Catalog Number</span>
                    <input id="searchMaterialSampleCatalogNumber" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{!-- specimen catalogNumber --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Associated Specimen Catalog Number</span>
                    <input id="searchSpecimenCatalogNumber" type="text" class="form-control">
                </div>
            </div>
        </div>
        {{!-- eventDate --}}
        <label class="form-control-sm" for="eventDate">Collection Date</label>
        <div class="row">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">After</span>
                    <input id="searchEventEarlyDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Before</span>
                    <input id="searchEventLateDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{!-- recordedBy --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Collector</span>
                    <input id="searchRecordedBy" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- recordNumber --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Collector Number</span>
                    <input id="searchRecordNumber" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{!-- stateProvince --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">State</span>
                    <input id="searchStateProvince" type="text" class="form-control">
                </div>
            </div>
                {{!-- county --}}
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">County</span>
                    <input id="searchCounty" type="text" class="form-control">
                </div>
            </div>
        </div>
        {{!-- locality --}}
        <div class="row">
            <div class="col-7">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Locality</span>
                    <input id="searchLocality" type="text" class="form-control" placeholder="Please select Contains, Starts With, or Is Exactly">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="radio" name="localityRadio" id="searchLocalityContains" value="contains">Contains
                        </label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="radio" name="localityRadio" id="searchLocalityStartsWith" value="startsWith">Starts With
                        </label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <div class="form-check">
                        <label>
                        <input class="form-check-input" type="radio" name="localityRadio" id="searchLocalityIsExactly" value="isExactly">Is Exactly
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{!-- locationRemarks --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Landowner or EO</span>
                    <input id="searchLocationRemarks" type="text" class="form-control">
                </div>
            </div>
                {{!-- locationID --}}
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Site Name / Location ID</span>
                    <input id="searchLocationID" type="text" class="form-control">
                </div>
            </div>
        </div>
        {{!-- SUBMIT BUTTON --}}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <br>
    <br>
    {{!-- SEARCH RESULTS LIST --}}
    <div id="searchResults">
        <p>Material Samples</p>
        <table class="table" id="searchResultTable">
            <thead>
                <tr>
                    <th scope="col">Scientific Name</th>
                    <th scope="col">Material Sample Catalog Number</th>
                    <th scope="col">Sample Type</th>
                    <th scope="col">Date Collected</th>
                    <th scope="col">Collected By</th>
                    <th scope="col">Number Collected</th>
                    <th scope="col">Number Available</th>
                    <th scope="col">State Province</th>
                    <th scope="col">County</th>
                    <th scope="col">Locality</th>
                    <th scope="col">Site Name / LocationID</th>
                    <th scope="col">Landowner</th>
                </tr>
            </thead>
            <tbody id="searchResultTableData">
            </tbody>
        </table>
    </div>

</div>