{{!-- TEMPLATE FOR TRANSFERRING MATERIAL SAMPLE PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Transfer Material Sample</p>
    <div class="container-fluid">
        <p>Search for Material Sample To Transfer</p>
        <form id="searchForSampleToTransfer">
            <div class="row">
                <div class="col">
                    {{!-- project --}}
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Project</span>
                        <input id="projectSearchSampleForTransfer" type="text" class="form-control">
                    </div>
                </div>
                <div class="col">
                    {{!-- scientificName --}}
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Scientific Name</span>
                        <input id="scientificNameSearchSampleForTransfer" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{!-- materialSampleType --}}
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Material Sample Type</span>
                        <input id="sampleTypeSearchSampleForTransfer" type="text" class="form-control">
                    </div>
                </div>
                <div class="col">
                    {{!-- catalogNumber --}}
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Catalog Number</span>
                        <input id="catalogNumberSearchSampleForTransfer" type="text" class="form-control">
                    </div>
                </div>
            </div>
            {{!-- eventDate --}}
            <label class="form-control-sm" for="eventDate">Collection Date</label>
            <div class="form-row">
                <div class="col">
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">After</span>
                        <input id="earlyDateSearchSampleForTransfer" type="text" class="form-control" placeholder="YYYY-MM-DD">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Before</span>
                        <input id="lateDateSearchSampleForTransfer" type="text" class="form-control" placeholder="YYYY-MM-DD">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{!-- recordedBy --}}
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Collector</span>
                        <input id="recordedBySearchSampleForTransfer" type="text" class="form-control">
                    </div>
                </div>
                <div class="col">
                    {{!-- recordNumber --}}
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Collector Number</span>
                        <input id="recordNumberSearchSampleForTransfer" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{!-- stateProvince --}}
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">State</span>
                        <input id="stateProvinceSearchSampleForTransfer" type="text" class="form-control">
                    </div>
                </div>
                <div class="col">
                    {{!-- county --}}
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">County</span>
                        <input id="countySearchSampleForTransfer" type="text" class="form-control">
                    </div>
                </div>        
            </div>
            {{!-- SUBMIT BUTTON --}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <br>
        <div id="searchMaterialSampleToTransferResults">
            {{!-- MATERIAL SAMPLE RESULTS LIST --}}
            <p>Material Samples</p>
            <table class="table" id="sampleForTransferResultTable">
                <thead>
                <tr>
                    <th scope="col">scientificName</th>
                    <th scope="col">materialSample_catalogNumber</th>
                    <th scope="col">eventDate</th>
                    <th scope="col">numberCollected</th>
                    <th scope="col">numberAvailable</th>
                    <th scope="col">dateStored</th>
                    <th scope="col">stateProvince</th>
                    <th scope="col">county</th>
                    <th scope="col">locality</th>
                    <th scope="col">locationID</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="materialSamplesForTransferData">
            </tbody>
            </table>
        <br>
        </div>
        <div id="newTransferDataForm">
            {{!-- CREATE TRANFER FORM --}}
            <p>Record Transfer Information Here</p>
            <div class="row">
                <div class="col">
                    {{!-- numberSamplesTrasferred --}}
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Number Samples Trasferred</span>
                        <input id="numberSamplesTrasferred" type="text" class="form-control">
                    </div>
                </div>
                <div class="col">
                    {{!-- transferDate --}}
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Transfer Date</span>
                        <input id="transferDate" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{!-- receivedDate --}}
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Received Date</span>
                        <input id="receivedDate" type="text" class="form-control">
                    </div>
                </div>
                <div class="col">
                    {{!-- agencyTransferredTo --}}
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Agency Transferred To</span>
                        <input id="agencyTransferredTo" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{!-- persontransferredTo --}}
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Person Transferred To</span>
                        <input id="persontransferredTo" type="text" class="form-control">
                    </div>
                </div>
                <div class="col">
                    {{!-- purposeNotes --}}
                    <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Purpose</span>
                        <input id="purposeNotes" type="text" class="form-control">
                    </div>
                </div>
            </div>
            {{!-- SUBMIT BUTTON --}}
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>