{{!-- TEMPLATE FOR MATERIAL SAMPLE TRANSFERS PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Material Sample Transfers</p>
    <a href="/transferMaterialSample">Add a new transfer</a>
    <br><br>
    <p>Search for transfers</p>
    <form id="searchTransfersForm">
        <div class="row">
            <div class="col">
                {{!-- scientificName --}}
                <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Scientific Name</span>
                    <input id="searchTransfersScientificName" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- materialSampleType --}}
                <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Material Sample Type</span>
                    <input id="searchTransfersMaterialSampleType" type="text" class="form-control">
                </div>    
            </div>
        </div>
        {{!-- catalogNumber --}}
        <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Catalog Number</span>
            <input id="searchTransfersCatalogNumber" type="text" class="form-control">
        </div>
        {{!-- transferDate --}}
        <label class="form-control-sm" for="transferDate">Transfer Date</label>
        <div class="row">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">After</span>
                    <input id="searchTransfersTransferEarlyDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Before</span>
                    <input id="searchTransfersTransferLateDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{!-- agencyTransferredTo --}}
                <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Agency Transferred To</span>
                    <input id="searchTransfersAgencyTransferredTo" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- personTransferredTo --}}
                <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Person Transferred To</span>
                    <input id="searchTransfersPersonTransferredTo" type="text" class="form-control">
                </div>
            </div>
        </div>
        {{!-- SUBMIT BUTTON --}}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <br>
    <br>
    {{!-- TRANSFERS LIST --}}
    <div id="searchTransfersResults">
        <p>Transfers</p>
        <table class="table" id="transfersResultTable">
            <thead>
                <tr>
                    <th scope="col">scientificName</th>
                    <th scope="col">materialSample_catalogNumber</th>
                    <th scope="col">agencyTransferredTo</th>
                    <th scope="col">personTransferredTo</th>
                    <th scope="col">numberSamplesTransferred</th>
                    <th scope="col">numberSamplesReturned</th>
                    <th scope="col">purposeNotes</th>
                    <th scope="col">transferDate</th>
                    <th scope="col">receivedDate</th>
                    <th scope="col">numberCollected</th>
                    <th scope="col">numberAvailable</th>
                    <th scope="col">collectionDate</th>
                    <th scope="col">stateProvince</th>
                    <th scope="col">county</th>
                    <th scope="col">locality</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="searchTransfersResultsData">
            </tbody>
        </table>
    </div>



    {{!-- UPDATING MATERIAL SAMPLE TRANSFERS FORM --}}
    <br>
    <form id="sampleTransferUpdatesForm">
        <p class="lead">Update Material Sample Transfer</p>
        <p>Record transfer updates here. Existing values will be overwritten. Fields left blank will remain unchanged. There is no undo function so use caution.</p>
        <p id="transferSelectedForUpdateTitle"></p>
        <div class="row">
            <div class="col">
                {{!-- numberSamplesTransferred --}}
                <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Number Samples Transferred</span>
                    <input id="transferUpdateNumberSamplesTransferred" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- transferDate --}}
                <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Transfer Date</span>
                    <input id="transferUpdateTransferDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
                </div>    
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{!-- receivedDate --}}
                <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Received Date</span>
                    <input id="transferUpdateReceivedDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
                </div>
            </div>
            <div class="col">
                {{!-- agencyTransferredTo --}}
                <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Agency Transferred To</span>
                    <input id="transferUpdateAgencyTransferredTo" type="text" class="form-control">
                </div>    
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{!-- personTransferredTo --}}
                <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Person Transferred To</span>
                    <input id="transferUpdatePersonTransferredTo" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- purposeNotes --}}
                <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Purpose</span>
                    <input id="transferUpdatePurposeNotes" type="text" class="form-control">
                </div>    
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{!-- returnedDate --}}
                <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Returned Date</span>
                    <input id="transferUpdateReturnedDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
                </div>
            </div>
            <div class="col">
                {{!-- numberSamplesReturned --}}
                <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Number Samples Returned</span>
                    <input id="transferUpdateNumberSamplesReturned" type="text" class="form-control">
                </div>    
            </div>
        </div>
        {{!-- SUBMIT BUTTON --}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>