{{!-- TEMPLATE FOR TRANSFERRING MATERIAL SAMPLE PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Transfer Material Sample</p>
    <p>form for addTransfer</p>
    <div class="container-fluid">
        <p>Search for Material Sample To Transfer</p>
        {{!-- project --}}
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Project</span>
            </div>
            <input id="project" type="text" class="form-control">
        </div>
        {{!-- scientificName --}}
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Scientific Name</span>
            </div>
            <input id="scientificName" type="text" class="form-control">
        </div>
        {{!-- materialSampleType --}}
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Material Sample Type</span>
            </div>
            <input id="materialSampleType" type="text" class="form-control">
        </div>
        {{!-- catalogNumber --}}
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Catalog Number</span>
            </div>
            <input id="catalogNumber" type="text" class="form-control">
        </div>
        {{!-- eventDate --}}
        <label class="form-control-sm" for="eventDate">Collection Date</label>
        <div class="form-row">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">After</span>
                    </div>
                    <input id="eventEarlyDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Before</span>
                    </div>
                    <input id="eventLateDate" type="text" class="form-control" placeholder="YYYY-MM-DD">
                </div>
            </div>
        </div>
        {{!-- recordedBy --}}
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Collector</span>
            </div>
            <input id="recordedBy" type="text" class="form-control">
        </div>
        {{!-- recordNumber --}}
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Collector Number</span>
            </div>
            <input id="recordNumber" type="text" class="form-control">
        </div>
        {{!-- stateProvince --}}
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">State</span>
            </div>
            <input id="stateProvince" type="text" class="form-control">
        </div>
        {{!-- county --}}
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">County</span>
            </div>
            <input id="county" type="text" class="form-control">
        </div>

    {{!-- SUBMIT BUTTON --}}
    <button type="button" class="btn btn-primary">Submit</button>
    <br>
    <br>
</div>