{{!-- TEMPLATE FOR MATERIAL SAMPLE TRANSFERS PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Material Sample Transfers</p>
    <p>query box for searching and displaying transfers</p>
    <p>button to update for each record</p>
    <p>button for creating new transfer</p>
</div>