{{!-- TEMPLATE FOR GERMINATION TRIALS DUE PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Seed Samples Due for Viability Testing</p>
    <div class="row">
        <div class="col">
        <button id="trialsDue5y" type="button" class="btn btn-primary">List Seed Collections Not Tested in Past 5 Years</button>
        </div>
        <div class="col">
        <button id="trialsDue3y" type="button" class="btn btn-primary">List Seed Collections Not Tested in Past 3 Years</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
        <button id="trialsDue3y3350m" type="button" class="btn btn-primary">List Seed Collections Not Tested in Past 3 Years From Above 3350m</button>
        </div>
        <div class="col">
        <button id="neverTested" type="button" class="btn btn-primary">List Seed Collections With No Recorded Trials</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
        <button id="downloadTrialsDueFile" type="button" class="btn btn-secondary">Download Results</button>
        </div>
    </div>
    <br><br>
    {{!-- SAMPLE LIST --}}
    <div id="trialsDueResults">
        <table class="table" id="trialsDueResultsTable">
            <thead>
                <tr>
                    <th scope="col">scientificName</th>
                    <th scope="col">materialSample_catalogNumber</th>
                    <th scope="col">Last Trial endDate</th>
                    <th scope="col">numberSeedsTested</th>
                    <th scope="col">viabilityAdjustedGermination</th>
                    <th scope="col">testConductedBy</th>
                    <th scope="col">numberAvailable</th>
                    <th scope="col">eventDate</th>
                    <th scope="col">stateProvince</th>
                    <th scope="col">county</th>
                    <th scope="col">minimumElevationInMeters</th>
                </tr>
            </thead>
            <tbody id="seedSamplesDueResultTableData">
            </tbody>
        </table>
    </div>




</div>