{{!-- TEMPLATE FOR UPDATING MATERIAL SAMPLE DATA PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Update Material Sample Data</p>
    <p>Search for material samples to update.</p>
    <form id="sampleSearchForUpdateForm">
        <div class="row">
            <div class="col">
                {{!-- catalogNumber --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Catalog Number</span>
                    <input id="sampleSearchForUpdateCatalogNumber" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- scientificName --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Scientific Name</span>
                    <input id="sampleSearchForUpdateScientificName" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{!-- materialSampleType --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Material Sample Type</span>
                    <input id="sampleSearchForUpdateMaterialSampleType" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- project --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Project</span>
                    <input id="sampleSearchForUpdateProject" type="text" class="form-control">
                </div>
            </div>
        </div>
        {{!-- SUBMIT BUTTON --}}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <br><br>
    {{!-- MATERIAL SAMPLE RESULT LIST --}}
    <div id="searchSamplesToUpdateResults">
        <p>Search Results</p>
        <table class="table" id="samplesForTransferResultsTable">
            <thead>
                <tr>
                    <th scope="col">scientificName</th>
                    <th scope="col">materialSample_catalogNumber</th>
                    <th scope="col">recordedBy</th>
                    <th scope="col">materialSampleType</th>
                    <th scope="col">numberCollected</th>
                    <th scope="col">numberAvailable</th>
                    <th scope="col">collectionDate</th>
                    <th scope="col">stateProvince</th>
                    <th scope="col">county</th>
                    <th scope="col">locality</th>
                    <th scope="col">disposition</th>
                    <th scope="col">storageLocation</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="searchTransfersResultsData">
            </tbody>
        </table>
    </div>
    <br>
    {{!-- UPDATE MATERIAL SAMPLE FORM --}}
    <form id="sampleUpdatesForm">
        <p>Record sample updates here. Existing values will be overwritten. Fields left blank will remain unchanged. Contact Scientific Data Manager to make additional updates to sample records.</p>
        <p id="sampleSelectedForUpdateTitle"></p>
        <div class="row">
            <div class="col">
                {{!-- disposition --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Disposition</span>
                    <input id="sampleForUpdateDisposition" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- storageLocation --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Storage Location</span>
                    <input id="sampleForUpdateStorageLocation" type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                {{!-- numberAvailable --}}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Number Available</span>
                    <input id="sampleForUpdateNumberAvailable" type="text" class="form-control">
                </div>
            </div>
        </div>
        {{!-- SUBMIT BUTTON --}}
        <button type="submit" class="btn btn-primary">Submit</button>   
    </form>
    <br><br>
</div>