{{!-- TEMPLATE FOR UPDATING MATERIAL SAMPLE TRANSFERS PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Update Material Sample Transfers</p>
    <p>form for updating the selected material sample transfer record</p>
</div>