{{!-- TEMPLATE FOR UPDATING MATERIAL SAMPLE DATA PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Update Material Sample Data</p>
    <p>query box (search), select a record ( or records?), update form</p>
</div>