{{!-- TEMPLATE FOR UPLOADING MATERIAL SAMPLE DATA PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Upload New Material Sample Data</p>
    <p>Select a project from list that data are a part of. Reveals choose csv file & Upload CSV file buttons</p>
    <p>link to create new project page</p>
    <p></p>
</div>