{{!-- TEMPLATE FOR UPLOADING MATERIAL SAMPLE DATA PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Upload New Material Sample Data</p>
    <button id="downloadTemplate" type="button" class="btn btn-secondary">Download CSV Data Template</button>
    <br><br>    
    {{!-- PROJECT LIST --}}
    <p>Select project that material samples belong to (required). If you need to create a new project, do so <a href="/createNewProject">here</a>.</p>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="projectsUpload">
    </select>
    <br><br>
    {{!-- UPLOAD FILE INPUT --}}
    <div class="input-group input-group-sm mb-3">
        <form id="uploadCSV">
            <label class="custom-input">
            <input id="file" type="file" name="file">
            </label>
            <button type="submit" class="btn btn-primary">Upload CSV File</button>
        </form>
    </div>

<!-- Modal HTML -->
<div class="modal fade" id="processingModal" tabindex="-1" role="dialog" aria-labelledby="processingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="processingModalLabel">Processing</h5>
      </div>
      <div class="modal-body">
        <p>Please wait while the file is being uploaded. This may take a bit, hang in there.</p>
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>g
      </div>
    </div>
  </div>
</div>
</div>